*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
node_modules
npm-debug.log
dist
.happypack
.yarn-error.log
/docs
package-lock.json
.vscode
.alm
yarn-err.log
package-lock\.json
jsconfig.json
yarn.lock

