<section class="disclaimer">
Disclaimer: The opinions expressed herein are my own personal opinions and do not represent my employer’s view in any way.
</section>

<footer class="footer">
	<div class="container">

		<div class="inner">
			<section class="copyright">
				&copy; {{date format="YYYY"}} <a href="{{@blog.url}}/">{{@blog.title}}</a> &bull; All rights reserved.
			</section>
			<section class="poweredby">Powered by <a href="https://ghost.org">Ghost</a>
			</section>
		</div>
	</div>
</footer>
