<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="{{@blog.url}}">
            <span class="icon icon-home">
                <svg viewBox="0 0 20 16"><g fill-rule="evenodd"><path d="M10.006 3.244L2.9 9.104c0 .007-.002.02-.006.036-.004.016-.007.028-.007.037v5.932c0 .21.08.4.236.55.156.156.34.234.556.234h4.74V11.15h3.162v4.75h4.745c.213 0 .4-.078.555-.235.156-.156.235-.342.235-.556V9.17c0-.033-.004-.058-.012-.074L10 3.24z"/><path d="M19.832 7.768l-2.706-2.25V.476c0-.116-.038-.21-.112-.285-.074-.07-.168-.11-.284-.11h-2.373c-.115 0-.21.04-.284.11-.074.08-.11.17-.11.29v2.41L10.945.366c-.263-.214-.577-.32-.94-.32-.36 0-.675.106-.938.32L.18 7.768c-.082.065-.127.154-.135.265-.01.112.02.21.086.29l.77.917c.07.072.157.117.26.134.1.008.2-.02.3-.087l8.55-7.132 8.555 7.132c.065.057.152.086.26.086h.036c.107-.016.193-.062.26-.136l.766-.914c.066-.083.095-.18.086-.29-.01-.112-.052-.2-.134-.266z"/></g></svg>
            </span>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/doyle_am" target="_blank">
            <span class="icon icon-twitter">
                <svg viewBox="0 0 20 17"><path d="M20 1.93c-.787.337-1.574.55-2.36.634.888-.533 1.49-1.286 1.802-2.26-.813.483-1.68.813-2.602.99C16.028.434 15.03 0 13.845 0c-1.133 0-2.1.4-2.9 1.2-.8.798-1.2 1.765-1.2 2.9 0 .303.035.616.103.938-1.675-.085-3.247-.506-4.715-1.263C3.665 3.018 2.42 2.01 1.396.75c-.372.633-.56 1.322-.56 2.067 0 .702.166 1.353.496 1.954.33.61.775 1.09 1.333 1.46-.66-.02-1.278-.2-1.853-.52v.05c0 .99.31 1.86.933 2.61.622.75 1.406 1.22 2.354 1.42-.36.095-.72.14-1.08.14-.24 0-.5-.02-.78-.062.26.82.743 1.496 1.445 2.025.702.53 1.497.8 2.386.82-1.49 1.166-3.186 1.75-5.09 1.75-.363 0-.693-.017-.99-.05C1.9 15.63 4 16.245 6.293 16.245c1.456 0 2.82-.23 4.1-.692 1.277-.46 2.368-1.08 3.273-1.853.905-.777 1.686-1.668 2.34-2.674.657-1.007 1.145-2.058 1.467-3.154.322-1.095.482-2.193.482-3.293 0-.235-.004-.41-.012-.53.804-.58 1.49-1.29 2.056-2.12z" fill-rule="evenodd"/></svg>
            </span>
        </a>
    </li>

    <li>
        <a href="https://www.linkedin.com/in/andymdoyle" target="_blank">
            <span class="icon icon-linkedin">
                <svg viewBox="0 0 20 21"><path d="M.247 7.21h4.297v12.903H.247V7.21zm18.397 1.18c-.903-.986-2.096-1.478-3.58-1.478-.547 0-1.044.067-1.49.2-.448.136-.826.325-1.134.568-.308.243-.553.47-.735.676-.174.198-.342.43-.508.69V7.21H6.913l.013.626c.01.416.014 1.7.014 3.853 0 2.15-.01 4.96-.027 8.42h4.284v-7.2c0-.445.047-.796.143-1.056.182-.445.458-.815.827-1.114.37-.297.826-.447 1.374-.447.75 0 1.3.258 1.65.775.35.515.53 1.23.53 2.14v6.902H20v-7.397c0-1.9-.45-3.342-1.354-4.327h-.002zM2.42 1c-.72 0-1.303.21-1.75.632-.447.42-.67.952-.67 1.595C0 3.86.217 4.39.65 4.815c.434.425 1.008.638 1.72.638h.025c.73 0 1.318-.212 1.765-.638.447-.425.666-.955.657-1.588-.008-.643-.23-1.174-.664-1.595C3.72 1.212 3.143 1 2.42 1z" fill-rule="evenodd"/></svg>
            </span>
        </a>
    </li>
    <li>
        <a href="http://weibo.com/21freestyle" target="_blank">
            <i class="iconfont icon-weibo"></i>
        </a>
    </li>
</ul>